.ion-img{
    height: 25%;
    width: 25%;
}


.prix{
    vertical-align: middle;
    align-items: center;
}

.temps{
    text-align: center;
}

.type-trajet{
    text-align: right;
}

ion-content{
  --background: url(../../assets/3.jpg) 0 0/100% 100% no-repeat;
}
