<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" href="con-ins/">
      <ion-icon src="assets/icon/arrow-back.svg" size="small"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">
      INSCRIPTION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/1.png" style="display: block;margin-left: auto; margin-right: auto;">
      <ion-card-title style="text-align: center;"> Inscription à FLIGHT SELECTOR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-item>
      <ion-icon src="assets/icon/person.svg" size="small"></ion-icon>
      <ion-input placeholder=" Nom Entier" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon src="assets/icon/call.svg" size="small"></ion-icon>
      <ion-input placeholder=" Téléphone (+226)" type="text" maxlength="8"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon src="assets/icon/mail.svg" size="small"></ion-icon>
      <ion-input placeholder=" Email" type="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon src="assets/icon/lock-closed.svg" size="small"></ion-icon>
      <ion-input placeholder=" Mot de passe" type="password" ></ion-input>
    </ion-item>
    <br>
    <ion-button color="success" type="string" expand="block" href="connexion/">Inscription</ion-button>
    <br>
    <ion-text>
      <p>Vous avez déjà un compte? <a href="connexion/">Se Connecter</a></p>
    </ion-text>
    </ion-card-content>>

  </ion-card>


</ion-content>
