<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" href="home/">
      <ion-icon src="assets/icon/arrow-back.svg" size="small"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">
      CONNEXION ET INSCRIPTION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <img src="assets/1.png" style="display: block;margin-left: auto; margin-right: auto;">
        <ion-text style="text-align: center;">
          <h1> Inscrivez vous </h1>
        </ion-text>
      <ion-button color="success" type="string" expand="block" href="inscription/" ><strong>Inscription</strong></ion-button>
      <br>
      <ion-text style="text-align: center;">
        <h1> Connectez vous </h1>
      </ion-text>
      <ion-button color="primary" type="string" expand="block" Href="connexion/" ><strong>Connexion</strong></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
