<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      ACCEUIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Vous etes sur FLIGHT-SELECTOR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/1.png" style="display: block;margin-left: auto; margin-right: auto;">
      <ion-card-subtitle style="text-align: center;">Bienvenue sur votre outils de selection de vols </ion-card-subtitle>
      <br>
      <ion-button color="success" size="large" expand="block" href="reservation/"><strong>Nouvelle reservation</strong></ion-button>
      <br>
      <ion-button color="warning" size="large" expand="block" href="liste-reservations/"><strong>Liste des reservations</strong></ion-button>
      <br>
      <ion-button color="danger" size="large" expand="block" href="con-ins/"><strong>Deconnexion</strong></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
