<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" href="acceuil/">
      <ion-icon src="assets/icon/arrow-back.svg" size="small"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">
      PAYEMENT VALIDE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="primary">
    <ion-title style="text-align: center;">
        Votre reservation est faite!
    </ion-title>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">FLIGHT-SELECTOR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/1.png" style="display: block;margin-left: auto; margin-right: auto;">
      <ion-card-subtitle style="text-align: center;">FLIGHT-SELECTOR vous Remercie pour la confiance </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
