<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      FLIGHT SELECTOR
    </ion-title>
    <ion-menu-button side="start" menu="main-menu" contentId="main"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Bienvenue sur FLIGHT-SELECTOR</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <img src="assets/1.png" style="display: block;margin-left: auto; margin-right: auto;">
      <ion-card-subtitle style="text-align: center;">Votre outils pour choisir votre prochaine destination </ion-card-subtitle>
      <ion-button color="warning" size="large" expand="block" href="con-ins/"><strong>Commencer</strong></ion-button> 
    </ion-card-content>
  </ion-card>
</ion-content>
